<div class="jumbotron boxheight">
  <h1 class="display-4">Starwars Search</h1>
  <p class="lead">Please select the category and enter name to search.</p>

  <form [formGroup]="searchFrom" novalidate>
  <div class="form-group">
    <label for="category">Select what you want to search</label>
    <select class="form-control" id="category" formControlName="category" (change)="resetDisplayData()" required>
      <option value="">Select</option>
      <option value="film">Film</option>
      <option value="people">People</option>
      <option value="starship">Starship</option>
      <option value="vehicle">Vehicle</option>
      <option value="specie">Specie</option>
      <option value="planet">Planet</option>
    </select>
  </div>
  <div class="form-group">
    <label for="search">You need to enter name or part of the name in textbox</label>
    <input type="text" class="form-control" autocomplete="off" formControlName="search" id="search" (change)="resetDisplayData()"  required placeholder="search text">
  </div>
  <br />
  <div class="form-group">
    <button type="button" [disabled]="loading" (click)="newSearch()" class="btn btn-primary">Search</button>
    &nbsp;
    <button type="button" (click)="resetForm()" class="btn btn-warning">Reset</button>
  </div>  
</form>
  <hr class="my-4">
  
  <h6 *ngIf="responseArr.length > 0">Records found <span class="badge badge-secondary">{{count}}</span></h6>

  <table class="table table-striped">
    <ng-container *ngIf="category === 'film' && responseArr.length > 0">  
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Director</th>
          <th scope="col">Producer</th>
          <th scope="col">Episode Id</th>
          <th scope="col">Opening Crawl</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let data of responseArr; let i=index;'>
          <th scope="row">{{i+1}}</th>
          <td>{{data.title}}</td>
          <td>{{data.director}}</td>
          <td>{{data.producer}}</td>
          <td>{{data.episodeId}}</td>
          <td>{{data.openingCrawl}}</td>
        </tr>
      </tbody>
    </ng-container>

    <ng-container *ngIf="category === 'people' && responseArr.length > 0">  
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Hight</th>
          <th scope="col">Mass</th>
          <th scope="col">Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let data of responseArr; let i=index;'>
          <th scope="row">{{i+1}}</th>
          <td>{{data.name}}</td>
          <td>{{data.height}}</td>
          <td>{{data.mass}}</td>
          <td>{{data.gender}}</td>
        </tr>
      </tbody>
    </ng-container>


    <ng-container *ngIf="category === 'starship' && responseArr.length > 0">  
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Model</th>
          <th scope="col">Manufacturer</th>
          <th scope="col">Length</th>
          <th scope="col">Passengers</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let data of responseArr; let i=index;'>
          <th scope="row">{{i+1}}</th>
          <td>{{data.name}}</td>
          <td>{{data.model}}</td>
          <td>{{data.manufacturer}}</td>
          <td>{{data.length}}</td>
          <td>{{data.passengers}}</td>
        </tr>
      </tbody>
    </ng-container>


    <ng-container *ngIf="category === 'vehicle' && responseArr.length > 0">  
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Model</th>
          <th scope="col">Manufacturer</th>
          <th scope="col">Cost In Credits</th>
          <th scope="col">Length</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let data of responseArr; let i=index;'>
          <th scope="row">{{i+1}}</th>
          <td>{{data.name}}</td>
          <td>{{data.model}}</td>
          <td>{{data.manufacturer}}</td>
          <td>{{data.costInCredits}}</td>
          <td>{{data.length}}</td>
        </tr>
      </tbody>
    </ng-container>

    <ng-container *ngIf="category === 'specie' && responseArr.length > 0">  
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Classification</th>
          <th scope="col">Designation</th>
          <th scope="col">Average Height</th>
          <th scope="col">Skin Colors</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let data of responseArr; let i=index;'>
          <th scope="row">{{i+1}}</th>
          <td>{{data.name}}</td>
          <td>{{data.classification}}</td>
          <td>{{data.designation}}</td>
          <td>{{data.averageHeight}}</td>
          <td>{{data.skinColors}}</td>
        </tr>
      </tbody>
    </ng-container>

    <ng-container *ngIf="category === 'planet' && responseArr.length > 0">  
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Rotation Period</th>
          <th scope="col">Orbital Period</th>
          <th scope="col">Surface Water</th>
          <th scope="col">Population</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let data of responseArr; let i=index;'>
          <th scope="row">{{i+1}}</th>
          <td>{{data.name}}</td>
          <td>{{data.rotationPeriod}}</td>
          <td>{{data.orbitalPeriod}}</td>
          <td>{{data.surfaceWater}}</td>
          <td>{{data.population}}</td>
        </tr>
      </tbody>
    </ng-container>
  </table>

  <div class="container" *ngIf="loadNextLink !== '' && loadNextLink != 'null'">
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-outline-info mx-auto d-block" (click)="searchData()" [disabled]= "loading == true || this.loadNextLink == '' ||  this.loadNextLink == 'null' ">Load more Data</button>
      </div>
    </div>
  </div>

  <div class="container mx-auto p-3" *ngIf="loading === true">
    <div id="progressbar"></div>
  </div>

  <ng-container *ngIf="responseArr.length == 0 && response == true">
    <div class="alert alert-warning" role="alert">
      It seems, no data found. Please search again
    </div>
  </ng-container>
</div>
